node_modules
tfwlog.log
ports.log
vendor/theframework/components/apple/*.pem

# excluye todo vendor menos theframework
/public/upload
/temp
/vendor/*
!/vendor/theframework/
!/vendor/solid/
!/vendor/DesignPatterns/
!/vendor/EventSourcing/
!/vendor/Rulez
!/vendor/LHub
!/vendor/Misc
/examples/mixed/tmp/
.idea